
.footer {
    text-align: center;
    max-width: 100%;
    align-content: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color:#3c7623;
    color: white;
}
.footerText p {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color:#3c7623;
    color: white;
}
